*{
	margin: 0;
	padding: 0;
	font-family: Century Gothic;
}

header {
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(homepage.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
}

ul {
	list-style-type: none;
	float: right;
	margin-top: 15px;
}

ul li {
	display: inline-block;
}

ul li a {
	text-decoration: none;
	color: #FFF8DC;
	padding: 5px 20px;
	border: 2px solid #FFF8DC transparent;
	transition: 0.6s ease;
}

ul li a:hover{
	background-color: #fff;
	color: #000;
}

.logo img{
	float: left;
	width: 150px;
	height: auto;
}

.main {
	max-width: 1200px;
	margin: auto;
}

.title {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.title h1 {
	color: #FFF8DC;
	font-size: 90px;
	
}

select {
	font-size: 30px;
}

option {
	font-size: 30px;
}

.myButton {
	font-size: 30px;
}

.button {
	position: absolute;
	top: 62%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-size: 40px;
	color: white;
}

.btn {
	border: 1px solid #fff;
	padding: 20px 60px;
	color: #fff;
	text-decoration: none;
	transition: 0.6s ease;
}

.btn:hover {
	background-color: #fff;
	color: #000;
}

id:business {
	text-decoration: none;
	color: #FFF8DC;
	padding: 5px 20px;
	border: 2px solid #FFF8DC transparent;
}