h1 {
	font-size: 50;
	text-align: center;
}

h2 {
	text-align: center;
}

.link {
	text-align: center;
	font-size: 50;
}

.gallery {
	margin: 10px 50px;
}

.gallery img {
	width: 400px;
	height: 400px;
	object-fit:cover;
	filter: grayscale(100%);
	transition: 1s;
	padding: 5px;
}

.gallery img:hover {
	filter: grayscale(0);
	transform: scale(1.1);
}